header {
  text-align: center;
  text-decoration: none;
  background: #666;
  color: #fff;
  letter-spacing: 5px;
  padding: 10px 0;
  font-size: 20px;
}

.x-middle-wrapper {
  min-height: 70vh;
}

footer {
  padding: 30px 0;
  text-align: center;
  a {
    color: #000;
  }
}